django
python-dotenv
channels
channels-redis
daphne
djangorestframework
drf-spectacular
celery
redis
cryptography
pymysql
uvicorn
requests
pyyaml
django-cors-headers
django-redis
djangorestframework-simplejwt
django-filter
prometheus-client
Faker
pytest
pytest-django
alibabacloud_dysmsapi20170525
alibabacloud_tea_openapi
alibabacloud_tea_util
